<%= @post.title %>

<%= @post.content %>

<ul>
   <%= @post.categories.each do |category| %>
     <li><%= link_to(category.name, category) %></li>
   <% end %>
</ul>

<% @post.comments.each do |comment| %>
<%= comment %>
<% end %>
